html, *{
	margin:0;
	padding:0;
	user-select: none;
}
/*Animação de crescimento*/
@keyframes campo_cresce{
	from{
		opacity: 0.1;
		width: 0vh;
		height: 0vh;
		margin-top:50vh;
		margin-left:50vw;
	}
	to{
		opacity: 1;
		width: 80vh;
		height: 80vh;
		margin-left:calc((100vw - 80vh)/2);
		margin-top:calc(10vh - 15px);
	}
}
#game{
	width: 80vh;
	height: 80vh;;
	margin-top:calc(10vh - 15px);
	margin-left:calc((100vw - 80vh)/2);
	animation-name:campo_cresce;
	animation-duration: 1s;
	background-color: rgba(255,255,255,0.65);
	padding:15px;
}
#game .quadrante{
	border:4px solid black;
	width: calc(100%/3 - 8px);
	height: calc(100%/3 - 8px);
	float:left;
	cursor: pointer;
}
#game .quadrante[content="x"], #game .quadrante[content="o"]{
	cursor: auto !important;
}
/*Indicador da Vez*/
@keyframes blue_init{
	from{
		background-color: white;
	}
	to{
		background-color: blue;
	}
}
@keyframes blue_player{
	from{
		background-color: red;
	}
	to{
		background-color: blue;
	}
}
@keyframes red_player{
	from{
		background-color: blue;
	}
	to{
		background-color: red;
	}
}
.blue_init{
	background-color: blue;
	animation-name: blue_init;
	animation-duration: 1.5s;
}
.blue_player{
	background-color: blue;
	animation-name: blue_player;
	animation-duration: 1s;
}
.red_player{
	background-color: red;
	animation-name: red_player;
	animation-duration: 1s;
}
/*Retira as bordas desnecessárias*/
.quadrante[id="1_1"]{
	border-left:0px solid black !important;
	border-top:0px solid black !important;
	margin-left:4px;
	margin-top:4px;
}
.quadrante[id="2_1"]{
	border-top:0px solid black !important;
	margin-top:4px;
}
.quadrante[id="3_1"]{
	border-right:0px solid black !important;
	border-top:0px solid black !important;
	margin-right:4px;
	margin-top:4px;
}
.quadrante[id="1_2"]{
	border-left:0px solid black !important;
	margin-left:4px;
}
.quadrante[id="2_2"]{
	
}
.quadrante[id="3_2"]{
	border-right:0px solid black !important;
	margin-right:4px;
}
.quadrante[id="1_3"]{
	border-left:0px solid black !important;
	border-bottom:0px solid black !important;
	margin-left:4px;
	margin-bottom:4px;
}
.quadrante[id="2_3"]{
	border-bottom:0px solid black !important;
	margin-bottom:4px;
}
.quadrante[id="3_3"]{
	border-right:0px solid black !important;
	border-bottom:0px solid black !important;
	margin-right:4px;
	margin-bottom:4px;
}
/*Estilo do circulo e do quadrado*/
@keyframes aparecer_circulo{
	from{
		opacity: 0.2;
		width: 0%;
		height: 0%;
		margin-top:50%;
		margin-left:50%;
	}
	to{
		opacity: 1;
		width: 70%;
		height: 70%;
		margin:10%;
		border:10px solid red;
	}
}
@keyframes aparecer_close{
	from{
		opacity: 0.2;
		width: 0%;
		height: 0%;
		margin-top:50%;
		margin-left:50%;
	}
	to{
		opacity: 1;
		width:100%;
    	height:100%;
	}
}
.circle{
	width: 70%;
	height: 70%;
	margin:10%;
	border:10px solid red;
	border-radius: 160%;
	animation:aparecer_circulo;
	animation-duration: 0.5s;
}
.close{
    width:100%;
    height:100%;
    position: relative;
	animation:aparecer_close;
	animation-duration: 0.5s;
}

.close:before,.close:after{
    content:'';
    position:absolute;
    width:90%;
    height:10%;
    background-color:blue;
    border-radius:2px;
    top:45%;
}
.close:before{
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    transform:rotate(45deg);
    left:5%;
}
.close:after{
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    transform:rotate(-45deg);
    right:5%;
}