html, *{
	margin:0;
	padding:0;
	user-select: none;
}
/*Animação de crescimento*/
@keyframes campo_cresce{
	from{
		opacity: 0.1;
		width: 0vh;
		height: 0vh;
		margin-top:50vh;
		margin-left:50vw;
	}
	to{
		opacity: 1;
		width: 80vh;
		height: 80vh;
		margin-left:calc((100vw - 80vh)/2);
		margin-top:10vh;
	}
}
#game{
	width: 80vh;
	height: 80vh;
	margin-left:calc((100vw - 80vh)/2);
	margin-top:10vh;
	animation-name:campo_cresce;
	animation-duration: 1s;
}
#game .quadrante{
	border:4px solid black;
	width: calc(100%/3 - 8px);
	height: calc(100%/3 - 8px);
	float:left;
}
/*Retira as bordas desnecessárias*/
.quadrante[x="1"][y="1"]{
	border-left:0px solid black !important;
	border-top:0px solid black !important;
	margin-left:4px;
	margin-top:4px;
}
.quadrante[x="2"][y="1"]{
	border-top:0px solid black !important;
	margin-top:4px;
}
.quadrante[x="3"][y="1"]{
	border-right:0px solid black !important;
	border-top:0px solid black !important;
	margin-right:4px;
	margin-top:4px;
}
.quadrante[x="1"][y="2"]{
	border-left:0px solid black !important;
	margin-left:4px;
}
.quadrante[x="2"][y="2"]{
	
}
.quadrante[x="3"][y="2"]{
	border-right:0px solid black !important;
	margin-right:4px;
}
.quadrante[x="1"][y="3"]{
	border-left:0px solid black !important;
	border-bottom:0px solid black !important;
	margin-left:4px;
	margin-bottom:4px;
}
.quadrante[x="2"][y="3"]{
	border-bottom:0px solid black !important;
	margin-bottom:4px;
}
.quadrante[x="3"][y="3"]{
	border-right:0px solid black !important;
	border-bottom:0px solid black !important;
	margin-right:4px;
	margin-bottom:4px;
}